<h2>Nova categoria</h2>
<div class="card">
    <div class="card-body">
    <form action="/admin/categorias/nova" method="post">
        <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Nomde da categoria" class="form-control">
        <label for="slug">Slug</label>
            <input type="text" name="slgu" id="slug" placeholder="Slug da categoria" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">Criar categoria</button>
    </form>
    </div>
</div>